<table>
    <thead>
        <th>TODO item</th>
        <th></th>
        <th>Status</th>
        <th>Associated Card</th>
        <th>User</th>
        <th></th>
    </thead>
    <% @items.each do |item| %>
        <tr> 
            <td><%= item.activity %></td>
            <td>
                <% if item.condition == "Public" %>
                    <span class="secondary label">
                    <% else %>
                        <span class="warning label">
                        <% end %>
                        <%= item.condition %>
                        </span>
            </td>
            <td> 
                <% if item.status == "incomplete" %> 
                    Incomplete
                <% else %>
                    <b>DONE</b>
                <% end %>
            </td>
            <td>
                <%= item.card.title %>
            </td>
            <td>
                <%= item.card.list.user.name %>
            </td>
            <td>
                <span class="label"><%= link_to "Request to Edit Card", 
                    new_request_path(card_id: item.card.id, 
                                     user_id: current_user.id)%></span>
            </td>

        </tr>
    <% end %>
</table>
